body {
  background-color: #f49840
}
li {
  padding: 5px;
  margin: 5px;
  background: #e1e6e3;
}

.devour {
  background-color: #008875;
}

#uneaten li {
  border: 2px outset #dfb988;
}

#devoured li {
  border: 2px inset #7e7972;
}
.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}
