body, html {
  background-color: #f49840 !important;
}

h1 {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 12%;
  width: 12%;
}

.devour {
  background-color: #008875;
  padding: 5px;
  border: 5px outset #008875;
  color: #e1e6e3;
}

.list-wrapper {
  align-content: space-between;
}

.devoured {
  border: 2px inset #7e7972;
  background-color: #a0a0a0;
  padding: 5px;
  margin:2px;
}

#uneatenList p {
  background-color: #e1e6e3;
  border: 5px outset #e1e6e3;
  display: inline-block;
  padding: 5px;
  margin:2px;
  width: 80%;
}

ul {
  list-style-type: none;
  list-style-position: outside;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

#newBurger {
  height: 5em;
  width: 30em;
}
